In [1]:
import psycopg2
import sys
import pprint
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import time , datetime , date

import plotly.plotly as py
import plotly.graph_objs as go
import plotly.offline as off

### Funciones de utilidad

In [2]:
pickle_storage = './dataframes/'
pickle_extension = '.pkl'

def get_pickle(dbname,name):
    filename = pickle_storage + dbname + '_'+ name + pickle_extension
    return pd.read_pickle(filename)

def put_pickle(dbname,name, frame):
    filename = pickle_storage  + dbname + '_'+ name + pickle_extension
    frame.to_pickle(filename)

### Cargamos el dataframe Joineado

In [3]:
df_joined = get_pickle('joined_1_second','btcusd_xrpbtc_xrpusd')

In [4]:
df_joined.head()

,btcusd_initial_ask_price,btcusd_initial_bid_price,btcusd_final_ask_price,btcusd_final_bid_price,xrpbtc_initial_ask_price,xrpbtc_initial_bid_price,xrpbtc_final_ask_price,xrpbtc_final_bid_price,xrpusd_initial_ask_price,xrpusd_initial_bid_price,xrpusd_final_ask_price,xrpusd_final_bid_price
start,,,,,,,,,,,,
2018-01-18 09:11:02,11712.0,11711.0,11712.0,11711.0,0.000132,0.000131,0.000132,0.000131,1.5338,1.5324,1.5338,1.5324
2018-01-18 09:11:03,11712.0,11711.0,11712.0,11709.0,0.000132,0.000131,0.000132,0.000131,1.5338,1.5324,1.5338,1.5324
2018-01-18 09:11:04,11712.0,11706.0,11709.0,11702.0,0.000132,0.000131,0.000132,0.000131,1.5338,1.5324,1.5337,1.5324
2018-01-18 09:11:05,11709.0,11699.0,11708.0,11699.0,0.000132,0.000131,0.000131,0.000131,1.5337,1.5302,1.5300,1.5296
2018-01-18 09:11:06,11708.0,11699.0,11707.0,11703.0,0.000131,0.000131,0.000131,0.000131,1.5300,1.5296,1.5300,1.5296

### Aplicamos el calculo de evaluacion de rentabilidad

#### Formula general del saldo generado: 
#### Qusd_final = Qusd( Qxrp( Qbitcoins(Qusd_inicial)))

Con
<li>Qbitcoins (Qusd_inicial) = (Qusd - Qusd x Cmm) / btcusd_BID</li>
<li>Qxrp (Qbitcoins) = (Qbitcoins - Qbitcoins x Cmt) / xrpbtc_ASK</li>
<li>Qusd (Qxrp) = (Qxrp - Qxrp x Cmt) / xrpusd_BID</li>

Para valores ctes de
<li>Qusd_inicial = 1000 ;</li> <li>Cmm = 0.001% ;</li> <li>Cmt = 0.002%</li>

Hacemos:
<li>Qusd_final = Qusd( Qxrp( Qbitcoins(Qusd_inicial)))</li>

Resultado:
<li>Si Qusd_final es mayor que Qusd_inicial -> arbitraje favorable</li>
<li>Si Qusd_final es menor o igual que Qusd_inicial, entonces arbitraje desfavorable</li>


#### Medir: 
<li>cantidad de arbitrjes favorables</li>
<li>ventana de tiempo que duran los mismos</li>

#### Funciones necesarias

In [20]:
def q_bitcoins():
    qusd = params['qusd_initial'] * (1-params['cmm'])
    column_name = 'btcusd_' + params['key'] + '_bid_price'
    btcusd_bid = params['dataframe'][column_name]
    return qusd / btcusd_bid

def q_xrp(q_bitcoins_):
    q_bitcoins_ = q_bitcoins_ * (1-params['cmt'])
    column_name = 'xrpbtc_' + params['key'] + '_ask_price'
    xrpbtc_ask = params['dataframe'][column_name]
    return q_bitcoins_ / xrpbtc_ask

def q_usd(q_xrp_):
    q_xrp_ = q_xrp_ * (1-params['cmt'])
    column_name = 'xrpusd_' + params['key'] + '_bid_price'
    xrpusd_bid = params['dataframe'][column_name]
    return q_xrp_ / xrpusd_bid

#### Probamos

In [17]:
params = {
    'cmm':0.001 ,
    'cmt':0.002,
    'qusd_initial': 1000 ,
    'key': 'initial' ,
    'dataframe' : df_joined.copy()
}

In [18]:
df_joined_result = df_joined.copy()

In [21]:
df_joined_result['q_usd_final'] = q_usd(q_xrp(q_bitcoins()))

In [22]:
df_joined_result['q_usd_final']

start
2018-01-18 09:11:02    421.472840
2018-01-18 09:11:03    421.536928
2018-01-18 09:11:04    421.749045
2018-01-18 09:11:05    422.640250
2018-01-18 09:11:06    422.838187
2018-01-18 09:11:07    422.804230
2018-01-18 09:11:08    422.942519
2018-01-18 09:11:09    423.039030
2018-01-18 09:11:10    423.668695
2018-01-18 09:11:11    423.779509
2018-01-18 09:11:12    425.369432
2018-01-18 09:11:13    425.381267
2018-01-18 09:11:14    426.146188
2018-01-18 09:11:15    425.475531
2018-01-18 09:11:16    425.475531
2018-01-18 09:11:17    425.439138
2018-01-18 09:11:30    426.585168
2018-01-18 09:11:31    425.668957
2018-01-18 09:11:32    426.095130
2018-01-18 09:11:33    426.416124
2018-01-18 09:11:34    426.416124
2018-01-18 09:11:35    426.416124
2018-01-18 09:11:36    426.448650
2018-01-18 09:11:37    426.731088
2018-01-18 09:11:39    428.623769
2018-01-18 09:11:40    428.550405
2018-01-18 09:11:41    430.491054
2018-01-18 09:11:42    430.523265
2018-01-18 09:11:43    431.031828
2018-01-18 09:11:44    430.556258
                          ...
2018-01-24 21:05:03    546.187298
2018-01-24 21:05:04    546.131467
2018-01-24 21:05:05    546.273668
2018-01-24 21:05:06    546.319565
2018-01-24 21:05:07    546.319565
2018-01-24 21:05:08    546.479302
2018-01-24 21:05:09    546.525225
2018-01-24 21:05:10    546.571155
2018-01-24 21:05:11    546.617094
2018-01-24 21:05:12    546.617094
2018-01-24 21:05:13    546.617094
2018-01-24 21:05:14    546.617094
2018-01-24 21:05:16    546.568904
2018-01-24 21:05:17    546.568904
2018-01-24 21:05:18    546.568904
2018-01-24 21:05:19    546.568904
2018-01-24 21:05:20    546.614845
2018-01-24 21:05:21    546.660795
2018-01-24 21:05:22    546.660795
2018-01-24 21:05:23    545.834885
2018-01-24 21:05:24    545.880703
2018-01-24 21:05:25    545.840238
2018-01-24 21:05:26    545.764689
2018-01-24 21:05:27    545.764689
2018-01-24 21:05:28    545.770061
2018-01-24 21:05:29    545.770061
2018-01-24 21:05:41    546.131467
2018-01-24 21:05:42    545.753469
2018-01-24 21:05:43    546.051978
2018-01-24 21:05:45    546.198552
Name: q_usd_final, Length: 467960, dtype: float64